mixin button(text, color, href)
  mj-button(
    href=href,
    background-color=color,
    color="white",
    line-height="1",
    inner-padding="14px 24px",
    font-size="18px",
    font-weight="bold",
    border-radius="5px"
  )= text
